/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

:root
{
    --Blue : #464E9F;
    --Violet : #C3BED0;
    --Grey : #D1D3E4;
    --Pink : #F2E6E9;
    --White : #FEF8F2;
}

body
{
    font-family: "Bodoni Moda", serif;
}

.overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
}

/* Header */

header
{
    width: 100%;
    z-index: 99;
}

.nav-link
{
    padding: 30px;
    color: var(--White);
    font-size: 1.5em;
}

/* Home section */

.home
{
    height: 1200px;
    background-image: url(../img/images/pexels-inspiredimages-3215616.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .homeContent
{
    position: absolute;
    top: 30%;
    right: 20%;
    font-size: 2em;
    color: var(--White);
    line-height: 1.5em;
}

.home .homeTitlesSection
{
    position: absolute;
    top: 30%;
    left: 20%;
    color: var(--White);
    line-height: 4em;
}

.home .homeTitlesSection .homeTitle2
{
    position: absolute;
    left: 40%;
}

.bigLetter
{
    font-size: 8em;
}

i
{
    font-style: italic;
    font-size: 2.5em;
}

.home .homeTitleD
{
    font-size: 2.5em;
}

/* END Home Section */

/* mainContent Section */

.mainContent
{
    height: 1400px;
}

.mainContentTitle
{
    color: var(--Blue);
    font-size: 4rem;
}

h5
{
    color: var(--Blue);
    font-size: 1.8rem;
}

.txtBlob
{
    color: var(--Blue);
    font-size: 1.2rem;
}

.mainContent .blob1Content
{
    background: url(../img/svg/Blob1.svg) center center no-repeat;
    position: relative;
    height: 550px;
}

.mainContent .blob2Content
{
    background: url(../img/svg/Blob2.svg) center center no-repeat;
}

.txtContentBlob1
{
    position: absolute;
    top: 26%;
    right: 5%;
}

/* END mainContent section */

/* Footer */

footer
{
    height: 400px;
    background-color: var(--White);
}

h4
{
    color: var(--Blue);
    font-size: 1.5rem;
}

.txtFooter
{
    color: var(--Blue);
    font-size: 1rem;
}

#mapid
{
    height: 200px;
    border-radius: 10px;
}